<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrado de la Película</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include ('./partials/header') %> 
    <main>

    
    <h2>Estas seguro de querer borrar esta película: <%= Movie.title %>???</h2>
    <p>
        <form action="/movies/delete/<%= Movie.id %>?_method=DELETE" method="POST">
            <br>
            <button class="botonBorrar" type="submit">Borrar la Película</button>
            
         

        </form>
    </p>
</main>
</body>

</html>