<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Películas ordas por rating</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include ('./partials/header') %>
    <main>
      <h1>RECOMENDADAS</h1>
      <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <strong> <a href="/movies/detail/<%=movies[i].id%>"><%= movies[i].title %> </a></strong>
          <br />
          <%= 'Rating: ' + movies[i].rating %>
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
