<header>
    <figure>
      <a href="/"> <img src="/img/logo-DH.png" alt="Logo Digital House" /></a>
     
    </figure>
    <nav>
      <ul>
        <li><a href="/movies">Peliculas</a></li>
        <li><a href="/actors">Actores</a></li>
        <li><a href="/genres">Generos</a></li>
        <li><a href="/movies/new">Nuevos</a></li>
        <li><a href="/movies/recommended">Recomendados</a></li>
      </ul>
    </nav>
  </header>